{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h2>Your Cart</h2>

  {% if cart and cart.items.all %}
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Subtotal</th>
          <th>Remove</th>
          <th>Update</th>

        </tr>
      </thead>
      <tbody>
        {% for item in cart.items.all %}
        <tr>
          <td>{{ item.product.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>${{ item.product.price }}</td>
          <td>${{ item.subtotal }}</td>
          <td>
            <form method="post" action="{% url 'cart:remove_from_cart' item.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Remove</button>
            </form>            
          </td>
          <td>
            <form method="post" action="{% url 'cart:update_quantity' item.pk %}">
              {% csrf_token %}
              <input type="number" name="quantity" value="{{ item.quantity }}" min="1" class="form-control w-auto d-inline-block">
              <button type="submit" class="btn btn-warning">Update</button>
            </form>            
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h4>Total: ${{ cart.total }}</h4>

    {% if cart.items.all %}
      <a href="{% url 'checkout:checkout' %}" class="btn btn-primary mt-4">Proceed to Checkout</a>
    {% endif %}

  {% else %}
    <p>Your cart is empty.</p>
  {% endif %}
</div>
{% endblock %}
