{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      {% if product.image %}
        <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
      {% endif %}
    </div>
    <div class="col-md-6">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <h4>${{ product.price }}</h4>
      <form method="post" action="{% url 'cart:add_to_cart' product.pk %}">
        {% csrf_token %}
        {% if product.inventory.stock > 0 %}
            Stock available: {{ product.inventory.stock }} |
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        {% else %}
            Out of stock
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
